.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit; }

.wp-caption {
  font-size: inherit; }

.wp-caption-text {
  font-size: inherit; }

.screen-reader-text {
  font-size: inherit; }

.alignright {
  float: right;
  padding-left: 10px; }

.alignleft {
  float: left;
  padding-right: 10px; }

.aligncenter {
  margin: 0px auto; }

img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }
