//
// Gallery
// --------------------------------------------------

.tag-jetpack-2 .gallery-item .gallery-caption {
  padding-right: 0;
}

.gallery {
  margin-bottom:$line-height-computed;
  @include clearfix();
}

.gallery-item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 0 (($line-height-computed));
  padding: 0 (($line-height-computed)) 0;
  width: 50%;

  a {
    img {

  }

  &:hover img,
  &:focus img {
    filter: opacity(60%);
  }

  }

  .gallery-caption {
    display: block;
    color: $gray;
    font-size: $font-size-small;
    line-height: $line-height-small;
    padding: (($line-height-computed / 3)) floor(($line-height-computed * 1.67)) 0 0;
    width: 100%;
    text-align: left;

  }

  &:hover .gallery-caption {
    opacity: 1;
  }

  @media (min-width: $grid-float-breakpoint) {
    max-width: 25%;
  }
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  @media (min-width: $grid-float-breakpoint) {
    max-width: 50%;
  }
}
.gallery-columns-3 .gallery-item {
  @media (min-width: $grid-float-breakpoint) {
    max-width: 32%;
    max-width: calc(32% - 6px);
  }
}
.gallery-columns-4 .gallery-item {
  @media (min-width: $grid-float-breakpoint) {
    max-width: 25%;
  }
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.67%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.29%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

.foogallery-container {
  margin-top: 20px;
}
