//
// Comments Area
// --------------------------------------------------


// Comments Basics
// --------------------------------------------------

.comments-area {
  margin: $grid-gutter-width 0;
  padding-top: $grid-gutter-width;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 240px;
    right: 240px;
    top: -1px;
    background-color: lighten($orange, 25%);
  }

  @media (max-width: $grid-float-breakpoint-max) {
    margin: (($grid-gutter-width / 2)) 0;
    padding-top: (($grid-gutter-width / 2));

    &:before {
      left: 32px;
      right: 32px;
    }
  }

  // Header

  h2.comments-title {
    margin: 0 0 (($grid-gutter-width / 2));
  }

  // List

  .comment-list {
    padding: 0;
    list-style-type: none;

    .pingback {
      padding-bottom: (($grid-gutter-width / 2));
      margin-bottom: (($grid-gutter-width / 2));
      border-bottom: 1px solid $gray-light;
    }

    .comment {

      .comment-body {
        position: relative;
        padding-left: 48px;
        padding-bottom: (($grid-gutter-width / 2));
        margin-bottom: (($grid-gutter-width / 2));
        border-bottom: 1px solid $gray-light;

        .comment-author.vcard {
          font-size: (($font-size-base * 0.75));
          color: $gray;
          letter-spacing: 0.03em;

          .says {
            display: none;
          }

          .fn {
            font-weight: bold;

            > a {
              color: $gray;

              &:hover,
              &:focus {
                color: $link-hover-color;
              }
            }
          }
        }

        .vcard {
          .avatar {
            position: absolute;
            left: 0;
            top: 3px;
          }
        }

        .comment-metadata {
          font-size: (($font-size-base * 0.75));
          color: $gray;
          letter-spacing: 0.03em;
          margin-bottom: $line-height-computed;

          > a {
            color: $gray;

            &:hover,
            &:focus {
              color: $link-hover-color;
            }
          }

          .edit-link {
            position: absolute;
            font-family: $font-family-sans-serif;
            font-size: $font-size-small;
            top: 2px;

            @media (max-width: $grid-float-breakpoint-max) {
              position: static;
              top: 0;
              margin-left: 0;
              display: block;
            }

            a {
              position: static;
            }
          }
        }

        .comment-content {
          margin-bottom: $line-height-computed;

          @media (max-width: $grid-float-breakpoint-max) {
            margin-left: -48px;
          }
        }

        .reply {
          text-align: right;

          .comment-reply-link {
            display: inline-block;
          }
        }
      }
    }

    .comment .children {
      list-style: none;
      border-left: 1px solid $gray-light;

      @media (max-width: $grid-float-breakpoint-max) {
        padding-left: 10px;
      }
    }
  }

  // Respond

  .comment-respond {

    label {
      display: block;
      font-weight: normal;
    }
  }
}
