//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$orange:                 rgba(255,91,53,1);
$blue:                   rgb(91, 53, 255);
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 25%);
$gray-dark:              lighten($gray-base, 45%);
$gray:                   lighten($gray-base, 65%);
$gray-light:             lighten($gray-base, 80%);
$gray-lighter:           lighten($gray-base, 95%);

$brand-primary:          $orange;



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $blue;
//** Link hover color set via `darken()` function.
$link-hover-color:      desaturate(lighten($link-color, 15%), 30%);
//** Link hover decoration.
$link-hover-decoration: none;

//** Headings link color.
$link-headings-color:  $orange;
//** Headings link hover color.
$link-headings-hover-color: desaturate(lighten($link-headings-color, 15%), 30%);



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:      'Lato', Optima, Helvetica, Arial, sans-serif;
$font-family-secondary-sans:  'BenchNine', Optima, Helvetica, Arial, sans-serif;

$font-family-base:            $font-family-sans-serif;
$font-family-header-base:     $font-family-secondary-sans;

$font-size-base:              16px;
$font-size-large:             ceil(($font-size-base * 1.25));
$font-size-small:             ceil(($font-size-base * 0.7));

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:            1.5;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:        floor(($font-size-base * $line-height-base));

$font-size-h1:                ceil(($font-size-base * 3));
$font-size-h2:                floor(($font-size-base * 2.63));
$font-size-h3:                floor(($font-size-base * 2));
$font-size-h4:                floor(($font-size-base * 1.6));
$font-size-h5:                floor(($font-size-base * 2));
$font-size-h6:                ceil(($font-size-base));

$h1-vertical-spacing:         ceil(($font-size-h1 * 2));
$h1-bottom-spacing:           ceil(($h1-vertical-spacing / 8));
$h1-top-spacing:              floor(($h1-vertical-spacing / 2.71) + $line-height-computed);
$h2-vertical-spacing:         ceil(($font-size-h2 * 2));
$h2-bottom-spacing:           ceil(($h2-vertical-spacing / 8));
$h2-top-spacing:              floor(($h2-vertical-spacing / 2.71) + $line-height-computed);
$h3-vertical-spacing:         ceil(($font-size-h3 * 2));
$h3-bottom-spacing:           ceil(($h3-vertical-spacing / 8));
$h3-top-spacing:              floor(($h3-vertical-spacing / 2.71) + ($line-height-computed / 2));
$h4-vertical-spacing:         ceil(($font-size-h4 * 2));
$h4-bottom-spacing:           ceil(($h4-vertical-spacing / 8));
$h4-top-spacing:              floor(($h4-vertical-spacing / 2.71) + ($line-height-computed / 2));
$h5-vertical-spacing:         ceil(($font-size-h5 * 2));
$h5-bottom-spacing:           ceil(($h5-vertical-spacing / 8));
$h5-top-spacing:              floor(($h5-vertical-spacing / 2.71) + ($line-height-computed / 2));
$h6-vertical-spacing:         ceil(($font-size-h6 * 2));
$h6-bottom-spacing:           ceil(($h6-vertical-spacing / 8));
$h6-top-spacing:              floor(($h6-vertical-spacing / 2.71) + ($line-height-computed / 2));

//** By default, this inherits from the `<body>`.
$headings-font-family:        $font-family-header-base;
$headings-font-weight:        bold;
$headings-line-height:        1;
$headings-color:              $orange;



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     10px;
$padding-base-horizontal:   16px;

$padding-large-vertical:    14px;
$padding-large-horizontal:  20px;

$padding-small-vertical:    6px;
$padding-small-horizontal:  12px;

$padding-xs-vertical:       3px;
$padding-xs-horizontal:     6px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         (($line-height-base * 0.8));

$border-radius-base:        2px;
$border-radius-large:       2px;
$border-radius-small:       1px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $text-color;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $gray-light;

//** Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;



//== Buttons
//
//## For each button, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $text-color;
$btn-default-bg:                 $gray-light;
$btn-default-border:             $btn-default-bg;

$btn-standard-color:              #fff;
$btn-standard-bg:                 $brand-primary;
$btn-standard-border:             $btn-standard-bg;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;



//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);



//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         96px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (648px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (605px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (855px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;



//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          4px 20px;
$nav-link-hover-bg:                         $gray-light;

$nav-disabled-link-color:                   $gray;
$nav-disabled-link-hover-color:             $gray;

//== Tabs
$nav-tabs-border-color:                     $gray;

$nav-tabs-link-hover-border-color:          $gray-light;

$nav-tabs-active-link-hover-bg:             $body-bg;
$nav-tabs-active-link-hover-color:          $gray;
$nav-tabs-active-link-hover-border-color:   $gray-lighter;

$nav-tabs-justified-link-border-color:            $gray;
$nav-tabs-justified-active-link-border-color:     $gray-light;

//== Pills
$nav-pills-border-radius:                   25px;
$nav-pills-active-link-hover-bg:            $component-active-bg;
$nav-pills-active-link-hover-color:         $component-active-color;


//== Pagination
//
//##

$pagination-color:                     $text-color;
$pagination-bg:                        $body-bg;
$pagination-border:                    $gray-light;

$pagination-hover-color:               #fff;
$pagination-hover-bg:                  $orange;
$pagination-hover-border:              $pagination-hover-bg;

$pagination-active-color:              $text-color;
$pagination-active-bg:                 $pagination-border;
$pagination-active-border:             $pagination-active-bg;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           $gray-lighter;


//== Pager
//
//##

$pager-bg:                             $pagination-bg;
$pager-border:                         $pagination-border;
$pager-border-radius:                  25px;

$pager-hover-bg:                       $pagination-hover-bg;

$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;

$pager-disabled-color:                 $pagination-disabled-color;


//== Jumbotron
//
//##

$jumbotron-padding:              30px;
$jumbotron-color:                inherit;
$jumbotron-bg:                   $gray-lighter;
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            ceil(($font-size-base * 1.5));
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5));



//== Code
//
//##

$code-color:                  $orange;
$code-bg:                     desaturate(lighten($code-color, 35%), 50%);

$kbd-color:                   $code-color;
$kbd-bg:                      $code-bg;

$pre-bg:                      $gray-lighter;
$pre-color:                   $text-color;
$pre-border-color:            $gray-light;
$pre-scrollable-max-height:   340px;



//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px;
//** Text muted color
$text-muted:                  $gray-light;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light;
//** Headings small color
$headings-small-color:        $gray-dark;
//** Blockquote small color
$blockquote-small-color:      $gray-dark;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);
//** Blockquote border color
$blockquote-border-color:     lighten($orange, 20%);
//** Page header border color
$page-header-border-color:    $gray-light;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint;
//** Horizontal line color.
$hr-border:                   $gray-lighter;



















$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
