//
// Panels
// --------------------------------------------------

.panel-dark {
  background-color: $panel-dark-border;
  @include panel-variant($panel-dark-border, $panel-dark-text, $panel-dark-heading-bg, $panel-dark-border);
  border-radius: $border-radius-base;
  color: $panel-dark-text;
  margin-bottom: 0;
  margin-top: (($grid-gutter-width / 3));

  h1, h2, h3, h4, h5 ,h6 {
    color: $panel-dark-text;
  }

  .list-group {
    background-color: transparent;

    .list-group-item {
      border-color: $gray-dark;
      background-color: transparent;
      font-size: floor(($font-size-base * 0.9));
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  img {
    margin-bottom: (($line-height-computed));
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-top: 0;
  }
}
