//
// Blog Posts and Pages
// --------------------------------------------------


// Basics of blogs and pages
// --------------------------------------------------

.post, .single, .page {

  h2.entry-title {
    display: inline-block;
    margin-top: 0;
  }

  .edit-link {
    font-size: floor(($font-size-h2 /2));
    margin-left: 16px;
    position: relative;

    .button {
      position: absolute;
      bottom: 2px;
    }
  }
}

.sticky {
	display: block;
  padding-bottom: $grid-gutter-width;
  position: relative;

  h2, .h2 {
    font-size: ceil($font-size-h2 * 1.15);

    @media (max-width: $grid-float-breakpoint-max) {
      font-size: (($font-size-h2 * 0.9));
    }
  }

  &:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 240px;
    right: 240px;
    bottom: 0;
    background-color: lighten($orange, 25%);
  }

  @media (max-width: $grid-float-breakpoint-max) {
    padding-bottom: (($grid-gutter-width / 2));

    &:before {
      left: 16px;
      right: 16px;
    }
  }
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-meta {
  color: $gray;
  font-size: floor(($font-size-base * 0.75));
  letter-spacing: 0.03em;

  a {
    color: $gray;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  .author {
    font-weight: bold;
  }
}

.entry-footer {
  color: $gray;
  font-size: floor(($font-size-base * 0.75));
  letter-spacing: 0.03em;
  float: right;
  margin: (($padding-base-vertical * 2)) 0 0 0;
  @include clearfix();

  @media (max-width: $grid-float-breakpoint-max) {
    float: none;
  }

  a {
    color: $gray;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  .cat-links,
  .tags-links,
  .comments-link {
    margin: 0;
    display: block;

    @media (min-width: $grid-float-breakpoint) {
      margin-left: 32px;
      margin-right: 0;
      display: inline;
    }
  }

  .fa {
    margin-right: 3px;
  }
}

.more-link {
  display: none;
}

.blog .page-links {
  display: none;
}


// Blogroll
// --------------------------------------------------

.blog {

  .post,
  .page {
    margin: 0 0 (($grid-gutter-width / 2));

    @media (min-width: $grid-float-breakpoint) {
      margin: 0 0 $grid-gutter-width;
    }

    .wp-post-image {
      margin-bottom: $line-height-computed;
      width: 100%;
      height: 150px;
      object-fit: cover;

      @media (min-width: $grid-float-breakpoint) {
        height: 400px;
      }
    }
  }

  .page-content,
  .entry-content,
  .entry-summary {
    margin: $line-height-computed 0;
  }
}


// Single Post
// --------------------------------------------------

.single {

  .post {
    margin: 0 0 (($grid-gutter-width / 2));

    @media (min-width: $grid-float-breakpoint) {
      margin: 0 0 $grid-gutter-width;
    }

    .wp-post-image {
      margin: 0 auto $line-height-computed;
    }
  }

  .entry-header h2 {
    margin: 0;
  }

  .entry-meta {
    margin: (($grid-gutter-width / 3)) 0;
  }
}


// Image Post
// --------------------------------------------------

.attachment {

  .nav-links {
    margin: (($grid-gutter-width / 2)) 0;
    @include clearfix();
  }

  #image-navigation .nav-next a {
    float: right;
    padding: $padding-small-vertical $padding-small-horizontal;
    font-family: $font-family-header-base;
    font-weight: bold;
    line-height: $line-height-base;
    text-decoration: none;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: 1px solid $pagination-border;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
      background-color: #fff;
      color: $orange;
      border-color: $orange;
    }
  }

  #image-navigation .nav-previous a {
    float: left;
    padding: $padding-small-vertical $padding-small-horizontal;
    font-family: $font-family-header-base;
    font-weight: bold;
    line-height: $line-height-base;
    text-decoration: none;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: 1px solid $pagination-border;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
      background-color: #fff;
      color: $orange;
      border-color: $orange;
    }
  }

  .entry-content {
    margin: 0 0 (($grid-gutter-width / 3));

    .attachment {
      text-align: center;
      margin-bottom: $line-height-computed;

      a {
        display: inline-block;
      }
    }

    @media (min-width: $grid-float-breakpoint) {
      margin: 0 0 $grid-gutter-width;
    }
  }
}


// Image Post Format
// --------------------------------------------------

.blog .post.format-image {

  .entry-content {
    position: relative;

    .entry-header {
      position: absolute;
      z-index: 1;
      top: 0;
      display: block;
      width: 100%;
      padding: $line-height-computed $line-height-computed (($line-height-computed * 3));
      color: $gray-light;
      background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 30%,rgba(0,0,0,0) 100%);

      .entry-title {
        color: $gray-lighter;
      }

      .entry-meta {
        color: $gray-light;

        a {
          color: $gray-light;

          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
}

// Gallery Format
// --------------------------------------------------

.blog .format-gallery {

  figure.gallery-item {
    display: none;

    &:first-of-type,
    &:nth-of-type(2),
    &:nth-of-type(3) {
      display: inline-block;
    }

    @media (max-width: $grid-float-breakpoint-max) {
      &:nth-of-type(3) {
        display: none;
      }
    }
  }
}


// Blockquote Post Format
// --------------------------------------------------

.blog .post.format-quote {

  .edit-link {
    margin-left: 0;
    z-index: 2;
  }

  .read-more {
    display: none;
  }
}

// Status Post Format
// --------------------------------------------------

.blog .post.format-status {

  .edit-link {
    margin-left: 0;
    z-index: 2;
  }

  .entry-content {
    font-size: $font-size-large;
  }
}

// Aside Post Format
// --------------------------------------------------

.blog .post.format-aside {

  .edit-link {
    margin-left: 0;
    z-index: 2;
  }
}

// Link Post Format
// --------------------------------------------------

.blog .post.format-link {

  .read-more, .entry-footer {
    display: none;
  }
}


// Archive
// --------------------------------------------------

.search-results, .archive {

  .post,
  .page {
    margin: 0 0 (($grid-gutter-width / 2));

    @media (min-width: $grid-float-breakpoint) {
      margin: 0 0 $grid-gutter-width;
    }
  }

  .page-content,
  .entry-content,
  .entry-summary {
    margin: $line-height-computed 0;
  }
}
