// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Necessary WP classes
.wp-caption { font-size: inherit; }

.wp-caption-text { font-size: inherit; }

.screen-reader-text { font-size: inherit; }

.alignright {
  float: right;
  padding-left: 10px;
}

.alignleft {
  float: left;
  padding-right: 10px;
}

.aligncenter { margin: 0px auto; }

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}

// Widgets
.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// Comments
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// Posts & pages
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Infinate scroll
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}



// Links

a {
  color: $link-color;
  text-decoration: none;
  @include element-transition(all, 300ms, ease);

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}



// Buttons
/* Style links as buttons */
.button {
  display: inline-block;
  font-weight: $btn-font-weight;
  font-size: floor($font-size-base * 0.8);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: $padding-base-vertical $padding-base-horizontal;
  margin: 0;
  border: 1px solid $btn-default-border;
  border-radius: $border-radius-base;
  @include element-transition(all, 300ms, ease);
}

.button-standard {
  @include button-variant($btn-standard-color, $btn-standard-bg, $btn-standard-border);
}

.button-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.button-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.button-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.button-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
